
{% extends 'main/header.html' %}


{% block content %}
     <div class="jumbotron">
        <div class="container-fluid">
          <div class="row">
            <!-- info section-->
            <div class="col-lg-7 banner-info px-5 py-5">
              <div>
                <h1 class="text-blue text-slant text-capitalize">
                  pathway to perinatal mental health
                </h1>
                <h2 class="">You are not alone</h2>
                <p>
                  Becoming a new parent should be an exciting time. However, for
                  one in five women, this isn’t the case. Pregnancy brings about
                  big changes to your life, especially if this is your first
                  baby. Some people cope with these changes easily, while others
                  find it harder. Everybody is different.
                </p>
                <p>
                  It is important to look after your health, your baby's health,
                  and your partner's health matters too. Recognising early signs
                  of difficulty will help you to find the right support.
                </p>
              </div>
              <div
                class="banner-info_footer d-flex justify-content-around py-2 px-3 align-items-baseline"
              ></div>
            </div>
            <!-- end of info section-->
            <!-- banner img-->
            <div class="col-lg-5 banner-img">
              <div
                class="banner-img_footer justify-content-around py-2 px-3"
              ></div>
            </div>
            <!-- end of banner img-->
          </div>
        </div>
{% endblock %}
